<div class="container">
  <mat-card>
    <div style="display: flex; flex-direction: row;">

      <div>
        <div>
          <span style="display: flex; flex-direction: row; align-items: baseline;">
            <h2>My Chatrooms</h2>
            <small style="margin-left:10px;">Logged in as {{user.username}}</small>
          </span>
          <button mat-button [routerLink]="['../create-room']">Create new Room</button>
        </div>

        <div *ngIf="(rooms$|async)?.items?.length > 0; else no_rooms" class="rooms">
          <mat-selection-list [multiple]="false" (selectionChange)="onSelectRoom($event)">
            <mat-list-option *ngFor="let room of (rooms$ | async)?.items" [value]="room">
              Name: {{room.name}} Id: {{room.id}}
              <mat-divider></mat-divider>
            </mat-list-option>
          </mat-selection-list>
          <mat-paginator [length]="(rooms$ | async)?.meta?.totalItems" [pageIndex]="(rooms$ | async)?.meta?.currentPage"
            [pageSize]="(rooms$ | async)?.meta?.itemsPerPage" (page)="onPaginateRooms($event)"
            [pageSizeOptions]="[10,25,50]"></mat-paginator>
        </div>
      </div>

      <div class="chatroom">
        <app-chat-room [chatRoom]="selectedRoom"></app-chat-room>

      </div>

    </div>
  </mat-card>
</div>

<ng-template #no_rooms>
  <div>
    <mat-error>No Chatrooms for you so far, please create one or get invited</mat-error>
  </div>
</ng-template>