p {
  font-size: medium;
  background-color: lightgray;
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  margin: 7px;
}

.ownContainer {
  justify-content: flex-end;
}

.ownMessage {
  background-color: lightblue;
}
